/* align heading to center */
h1{
   text-align: center;
}

/* adjust width, height and margin of table */
table{
   width: 100px;
   height: 100px;
   margin: auto;
   border-collapse: collapse;
}

/* Width and height for each table block*/
td{ 
   border: 1px solid black;
   padding-left: 13px;
}

/* Top row */
#topLeft{
    border-left: 0;
    border-top: 0;
}

#topMiddle{
   border-top: 0;

}

#topRight{
   border-right: 0;
   border-top: 0;
}

/* Middle row */
#middleLeft{
   border-left: 0;
}

#middleRight{
   border-right: 0;
}

/* Bottom row */
#bottomLeft{
   border-left: 0;
   border-bottom: 0;
}

#bottomMiddle{
    border-bottom: 0;
}

#bottomRight{
   border-right: 0;
   border-bottom: 0;
}