/* align heading to center */
h1{
   text-align: center;
}

/* adjust width, height and margin of table */
table{
   width: 100px;
   height: 100px;
   margin: auto;
   border-collapse: collapse;
}

/* Width and height for each table block*/
td{ 
    content: normal;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

/* Top row */
#topLeft{
    
}

#topMiddle{
   

}

#topRight{
   
}

/* Middle row */
#middleLeft{

}

#middle{

}

#middleRight{

}


/* Bottom row */
#bottomLeft{

}

#bottomMiddle{
    
}

#bottomRight{

}